@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 242, 244;
  --background-end-rgb: 244, 246, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 15px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .card {
    @apply bg-white p-8 rounded-xl drop-shadow-md border border-gray-300;
  }

  .btn-primary {
    @apply tracking-wide font-normal uppercase bg-blue-500 hover:bg-blue-600 text-white rounded-md drop-shadow-sm py-2 px-4;
  }

  .input-primary {
    @apply outline-none border border-gray-300 hover:border-blue-400 focus:ring-1 focus:ring-blue-600 rounded-md drop-shadow-sm py-2 px-4;
  }
}
